a.ssr_button, #content a.ssr_button{
	background:#54b3a4;
	color:#ffffff;
	border-color:#54b3a4;
	display: inline-block;
    padding: 7px 25px;
    margin: 0 10px 15px 0px;
    font-weight: bold;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
}

a.ssr_button.next {
	text-align:  right;
	float: right;
}

a.ssr_button.previous {
	text-align:  left;
	float:  left;
}