.content-box-light-blue, .content-box-gray, .content-box-outline-teal, .content-box-outline-gray, .content-box-yellow {
    overflow: hidden;
    padding: 10px 20px;
    color: #000000;
    font-family: Montserrat, sans-serif;
    height: auto;
    font-size: 16px;
    word-wrap: break-word;
    margin:  10px 0;
}


.content-box-light-blue {
    background-color: #5d85a4;
    border-left: 8px solid #0e3a5f;
    color: #fff;
}

.content-box-gray {
    background-color: #C8CFD6;
    border-left: 8px solid #a0a5ab;
}

.content-box-teal {
    background-color: #53B3A4;
    border-left: 8px solid #00917b;
}

.content-box-outline-teal {
    background-color: #fff;
    border: 5px solid #53B3A4;
}

.content-box-outline-gray {
    background-color: #fff;
    border: 5px solid #c8cfd6;
}

.content-box-yellow {
    background-color: #fce08e;
    border-left: 8px solid #fcc82b;
}

